.background {
	width: 100vw;
	height: 100vh;
	z-index: -1;
	background: linear-gradient(
		165deg,
		rgba(255, 105, 82, 0.408) 60%,
		rgba(92, 183, 0, 0.361) 58%
	);
}

@media (max-width: 950px) {
	.background {
		background: linear-gradient(
			165deg,
			rgba(255, 105, 82, 0.408) 60%,
			rgba(92, 183, 0, 0.361) 58%
		);
	}
}

@media (max-width: 540px) {
	.background {
		background: linear-gradient(
			165deg,
			rgba(255, 105, 82, 0.408) 60%,
			rgba(92, 183, 0, 0.361) 58%
		);
	}
}
