* {
    font-family: 'Yeseva One', cursive;
}

.pageTop {
    position: relative;
    display: flex;
    justify-content: space-between;
    text-align: center;
    height: 10vh;
}

.logo {
    position: relative;
    top: 25%;
    margin-left: 7vw;
}

#lime {
    position: absolute;
    width: 17%;
    height: auto;
    left: 0%;
    transform: translate(-50%, -25%);
}

/* https://www.freepik.com/icon/lemon_9712335#position=11 lime icon by Dai */

#title {
    font-size: 3em;
}

#directions {
    font-style: italic;
    position: relative;
    top: 25%;
    font-size: larger;
    margin-right: 10vw;
}

@media (max-width: 950px) {
	.pageTop {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 7vh;
    }

    .logo {
        margin-left: 0vw;
    }

    #title {
        /* font-size: 2em; */
    }

    #directions {
        margin-right: 0vw;
        top: 0%;
    }
}

@media (max-width: 540px) {
	.pageTop {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 7%;
    }

    .logo {
        margin-left: 0vw;
    }

    #title {
        font-size: 1.75em;
    }

    #directions {
        margin-right: 0vw;
        font-size: small;
        top: 20%;
    }
}
