* {
	font-family: "Yeseva One";
}

.pageTop {
	position: relative;
	display: flex;
	justify-content: space-between;
	padding-top: 2%;
	height: 10vh;
}

#textBlock {
	display: flex;
	flex-direction: column;
	margin-left: 4vw;
}

.logo {
	position: absolute;
}

#lime {
	position: absolute;
	width: 17%;
	height: auto;
	left: 0%;
	transform: translate(-50%, -25%);
}

/* https://www.freepik.com/icon/lemon_9712335#position=11 lime icon by Dai */

#title {
	font-size: 2.5em;
}

#directions {
	font-style: italic;
	position: relative;
	font-size: medium;
	margin-top: 20%;
}

@media (max-width: 950px) {
	.pageTop {
		padding-top: 2vh;
	}

	#title {
		font-size: 2em;
	}
}

@media (max-width: 539px) {
	.pageTop {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		padding-top: 8vh;
	}

	#lime {
		margin-left: 4vw;
	}

	#title {
		font-size: 1.75em;
		margin-left: 4vw;
	}

	#directions {
		font-size: small;
		margin-top: 18%;
	}
}
