:root {
	--diameter1: 77vh;
	--diameter2: 55vh;
	--diameter3: 85vw;
}

.clock-frame {
	border: 3px solid black;
	background-color: rgb(255, 255, 255);
	border-radius: 50%;
	position: relative;
	margin-top: 1em;
	margin-left: auto;
	margin-right: auto;
	width: var(--diameter1);
	height: var(--diameter1);
	z-index: 0;
}

/* #submit {
	z-index: 1;
	position: absolute;
	top: 70%;
	left: 50%;
	transform: translate(-50%, -50%);
} */

@media (max-width: 950px) {
	.clock-frame {
		width: var(--diameter2);
		height: var(--diameter2);
		margin-top: 10%;
	}
}

@media (max-width: 480px) {
	.clock-frame {
		width: var(--diameter3);
		height: var(--diameter3);
		margin-top: 20%;
	}
}
