.clock {
    border: 3px solid black;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    margin: 50px auto; /* top & bottom, right & left */
    padding-bottom: 10em;
}

#submit {
    position: relative;
    top: 50%;
    transform: translate(0, 44%); /* translate(horizontal, vertical) */
}

@media (min-width: 769px) {
    #clock {
        width: 325px;
        height: 325px;
    }
}
