:root {
	--diameter: 50vw;
}

.clock-frame {
	border: 3px solid black;
	background-color: rgb(255, 255, 255);
	border-radius: 50%;
	position: relative;
	margin: 50px auto; /* top & bottom, right & left */
	width: var(--diameter);
	height: var(--diameter);
	z-index: 0;
}
